{% extends 'base.html' %}

{% block content %}
<h1>Welcome to MOAA</h1>
<section class="dashboard-grid">
  <a class="dashboard-link" href="{{ url_for('main.ppm_analysis') }}">
    <div class="dashboard-card">
      <h2>PPM Analysis</h2>
      <canvas id="ppmAnalysisPreview"></canvas>
    </div>
  </a>
  <a class="dashboard-link" href="{{ url_for('main.aoi_grades_page') }}">
    <div class="dashboard-card">
      <h2>AOI &amp; FI Analysis</h2>
      <canvas id="aoiFiAnalysisPreview"></canvas>
    </div>
  </a>
  <a class="dashboard-link" href="{{ url_for('main.aoi_daily_report_page') }}">
    <div class="dashboard-card">
      <h2>Daily Reports</h2>
      <canvas id="dailyReportsPreview"></canvas>
    </div>
  </a>
  <a class="dashboard-link" href="{{ url_for('main.assembly_forecast') }}">
    <div class="dashboard-card">
      <h2>Assembly Forecast</h2>
      <canvas id="assemblyForecastPreview"></canvas>
    </div>
  </a>
</section>
{% endblock %}

