{% extends 'base.html' %}

{% block content %}
<h1>Welcome to MOAA</h1>
<div id="moat-preview" class="preview-wrapper">
  <div class="preview-info">
    <div id="moat-title" style="font-size:14px;">Average False Calls Preview</div>
    <div id="moat-info" style="font-size:12px;color:#333;"></div>
  </div>
  <div class="preview-card">
    <canvas id="moatChart"></canvas>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% endblock %}
