<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Login - MOAA</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
  <div class="login-container">
    <img src="{{ url_for('static', filename='images/company-logo.png')}}" alt="Spectra Tech Manufacturing">
    <form method="post">
      <label for="username">Username</label>
      <select name="username" id="username">
        <option value="USER">USER</option>
        <option value="ADMIN">ADMIN</option>
        {% if employee_enabled %}
        <option value="EMPLOYEE">EMPLOYEE</option>
        {% endif %}
      </select>
      <label for="password">Password</label>
      <input type="password" name="password" id="password">
      <button type="submit">Login</button>
    </form>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class="flash-messages">
          {% for msg in messages %}
            <li>{{ msg }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
  </div>
</body>
</html>
